In [1]:
import pandas as pd
import os
from dotenv import load_dotenv
load_dotenv()

DATAPATH = os.getenv('DATAPATH')


data = pd.read_csv(DATAPATH + "weather_data_4.csv")
data['date'] = pd.to_datetime(data['date'], format='%Y-%m-%d %H:%M:%S')

In [2]:
train_df = data[(data['date'] >= f'2019-{4}-05 00:00:00') & (data['date'] < f'2020-{4}-28')].reset_index(drop=True)
train_df.head()

,date,row,col,radar,aws,imerge,tclw,cape,v250,ie,...,b10b,i4b,b11b,i2b,b09b,b04b,vsb,b16b,b05b,irb
0,2019-04-05 01:00:00,35,105,0.0,0.0,0.0,0.620972,792.000,13.859650,NaN,...,257.02954,289.92404,275.57132,273.05704,249.78636,0.303314,0.249817,260.98962,0.233510,276.79870
1,2019-04-05 01:00:00,35,113,0.0,0.0,0.0,0.519653,744.375,13.861603,NaN,...,261.45993,295.08786,277.82104,277.77356,254.17607,0.332672,0.277863,265.69077,0.283091,279.85342
2,2019-04-05 01:00:00,36,109,0.0,0.0,0.0,0.519653,744.375,13.861603,NaN,...,259.76163,292.87366,278.53300,277.05350,252.49065,0.297434,0.247203,264.33646,0.244598,280.33313
3,2019-04-05 01:00:00,36,115,0.0,0.0,0.0,0.519653,744.375,13.861603,NaN,...,262.27213,294.21085,279.02420,279.22748,255.01355,0.303965,0.245260,266.85330,0.253733,281.20773
4,2019-04-05 01:00:00,37,99,0.0,0.0,0.0,0.330383,1070.125,13.996368,NaN,...,257.24660,292.00450,277.81775,274.57346,249.76710,0.223073,0.182627,261.73843,0.188507,279.15036

In [ ]:
test_df = data[(data['date'] < f'2019-{4}-3') & (data['date'] >= f'2020-{4}-28 00:00:00')].reset_index(drop=True)
test_df.shape

(0, 40)